@{
    ViewData["Title"] = "홈";
}

<!-- Shared밑에 있는 _Notification.cshtml을 index.cshtml에 포함시킴 -->
<partial name="_Notification" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>