/* 구글 폰트 사용법 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* 나눔고딕 사용하기 위해 만든 클래스 */
.naum {
    font-family: 'Nanum Gothic';
    font-weight: 400;
}

.naum-middle {
    font-family: 'Nanum Gothic';
    font-weight: 700;
}

.naum-bold {
    font-family: 'Nanum Gothic';
    font-weight: 800;
}

