<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoItemWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TodoItemWeb.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            // AJAX -> Asynchronous Javascript And Xml(Json): 비동기로 javascript를 사용해 xml/json 데이터를 호출하는 기술
            $.getJSON("https://localhost:7126/api/TodoItems", function(data) {
                // 요청 성공시 data 변수에 목록 담김
                $.each(data, function(key, val){
                    // 텍스트 출력을 위해 타입변환
                    var str = val.id + ' / ' + val.todoDate + ' / ' + val.title + ' / ' + val.isComplete;

                    // todoItems 목록에 할당
                    $('<li/>', { text: str}).appendTo($('#todoItems'));
                });
            });


            // ID로 조회 함수
            $('#btnSearch').click(function() {
                var id = $('#Id').val();
                $.getJSON("https://localhost:7126/api/TodoItems/" + id, function(data) {
                    var str = data.id + ' / ' + data.todoDate + ' / ' + data.title + ' / ' + data.isComplete;

                    $('#todoItem').text(str);
                }).fail(
                    function(jqXHR, textStatus, err) {
                        if (jqXHR.responseJSON.status == 404) {
                            $('#todoItem').text('데이터가 없습니다.');
                        } else {
                            $('#todoItem').text('Error : ' + err);
                        }
                        $('#todoItem').text('Error : ' + err);
                });
            });

            // 할일 추가 함수
            $('#btnInsert').click(function(event) {
                event.preventDefault();     // 폼 제출방지(예방)

                var data = {
                    'id': 0,
                    'title': $('#Title').val(),
                    'todoDate': new DAte
                    'isComplete': $('#IsComplete option:selected').val()
                };

                console.log(data);
                $.ajax("https://localhost:7126/api/TodoItems/", {
                    type: "POST", // DB INSERT
                    data: JSON.stringify(data), // json data로 변환
                    contentType: 'application/json',
                    success: (data) => {
                        if (typeof(data) == 'object') {
                            data = JSON.stringify(data),

                        }
                        
                        var d = JSON.parse(data);
                        var id = d['id'];       // DB 입력 후 생성된 id
                        if (id != 0) {
                                $('#result').text('한건 추가되었습니다.');
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TodoItemWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TodoItemWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
